{% load static %}
{% load basket_length %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ABZ AUTOMATIONS</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  {% comment %} Favicons {% endcomment %}
  <link href="{% static 'website/img/favicon.png' %}" rel="icon">
  <link href="{% static 'website/img/apple-touch-icon.png' }" rel="apple-touch-icon">

  {% comment %} Google Fonts {% endcomment %}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    
    {% comment %} jquery {% endcomment %}
  <script src="{% static 'website/vendor/jquery/jquery.min.js' %}"></script>


  {% comment %} Template Main CSS File {% endcomment %}
  <link href="{% static 'website/css/style2.css' %}" rel="stylesheet">

  {% comment %} font awesome {% endcomment %}
  <script src="https://kit.fontawesome.com/546832c0ab.js" crossorigin="anonymous"></script>

  
</head>

<body>
  <section class="header">

    <nav>
      <div class="site-header">
        <div  class="logo-img"><img src="{% static 'website/img/logo.png' %}" alt="logo"></div>
        ABZ-AUTOMATIONS
      </div>

      <div >
        <ul class="nav-items">
          <li><a href="#about">Blog</a></li>
          <li><a href="#products-and-services">Services</a></li>
           <li><a href="#products">Products</a></li> 
          <li><a href="#recents">Projects</a></li>
          <li><a href="#team">Team</a></li>
        </ul>
      </div>

      <div class="cart">
        <a>
          <i class="icofont-shopping-cart icofont-2x"></i> 
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary" id="basket-quantity">
            {{request.session.skey|basket_length}}
          </span>
        </a>
      </div>
    </nav>
  </section>
</body>

